.TaskForm {
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .TaskForm input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .TaskForm button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .TaskForm button:hover {
    background-color: #0056b3;
  }
  
  .TaskForm .react-datepicker-wrapper {
    margin-right: 10px;
    flex: 1;
  }
  